$color-white: #fff;
$color-gray: #cfcfcf;
$color-red: #ff0000;

.app-plate {
  width: 100%;
  min-height: 477px;
  background-color: $color-white;
  border: 1px solid $color-gray;
  border-radius: 4px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.app-error-text {
  color: $color-red;
  position: absolute;
  margin-top: 54px;
  justify-self: center;
}

.form {
  &__control {
    margin-bottom: 24px;
  }

  &__text {
    text-align: center;
    margin-top: 38px;
    flex-wrap: wrap;
  }
}

.separator {
  width: 100%;
  border-bottom: 1px solid $color-gray;
}

.text-danger {
  color: $color-red;
}

input,
textarea {
  width: 100%;
  padding: 12px 16px;
  display: inline-block;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 4px;
  resize: none;
  font-family: 'Open Sans', sans-serif;
}

input:invalid,
textarea:invalid {
  border-color: $color-red;
}

label {
  font-weight: bold;
  font-size: 16px;
}

.app-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 36px;
  gap: 10px;
  background: #007298;
  border-radius: 4px;
  color: $color-white;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  border: none;

  &:hover:not([disabled]),
  &:active:not([disabled]),
  &:focus:not([disabled]) {
    background: #016486;
  }

  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
